*{
  box-sizing: border-box;
}

body{
  font-family: "Helvetica Neue", "Helvetica", "sans-serif";
  margin: 0px;
}

#app-container{
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}


.columns-container{
  font-size: 0;
}
.header{
  display:inline-block;
  vertical-align: top;
  width: 1280px;
  background: #2f2f2f;
}
.logo{
  display: inline-block;
  vertical-align: top;
  width: 20%;
}
.label{
  display: inline-block;
  vertical-align: top;
  width: 50%;

}
.header img{
  display: block;
  width: 100%;
  margin: 0px;
  height: 80px;
}
.bot-links{
  font-size: 16px;
  color: white;
  margin: 10px;
}
.bot-links a{
  padding-left: 20px;
}
.navi-links{
  font-size: 20px;
}
.navi-links button{
  border: 1px solid #FCF8E3;
  background: #FCF8E3;
  color: #A2BDD3;
  margin: 15px;
}
.navi-links button:hover{
  color: #fcf8e3;
  background: #a2bdd3;
}

.body{
  display: inline-block;
  vertical-align: top;
  font-size: medium;
  width: 100%;
}

.spacing{
  display: inline-block;
  vertical-align: top;
  width: 70%;
}

.nav-bar{
  display: inline-block;
  vertical-align: top;
  font-size: 10px;
  width: 20%;
}

.middle-text{
  display: inline-block;
  width: 100%;
  /*border-bottom: solid 1px grey;*/
}
.left-content{
  display: inline-block;
  vertical-align: top;
  width: 50%;
  margin-top: 0px;
}

.right-image{
  display: inline-block;
  width: 40%;
}
.right-image img{
  padding: 15px;
}
.bottom-text{
  display: inline-block;
  width: 100%;
}
.left-image{
  display: inline-block;
  width: 40%;
}
.left-image img{
  padding: 15px;
}
.right-content{
  display: inline-block;
  width: 59%;
  vertical-align: top;
  margin-top: 15px;
}
.footer{
  height: 60px;
}
.footer-links{
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
}
.footer-links a{
  padding-left: 20px;
}
.footer-links span{
  font-weight: 600;
}
.nav-bar{
  margin-top: 20px;
  margin-left: 20px;
}
.event-img{
  display: inline-block;
  vertical-align: top;
  width: 90px;
  margin-top: 8px;
}

.content{
  display: inline-block;
  width: 40%;
}
.content h1{
  font-size: 10px;
  color: #898E94;
  font-weight: 400;
}
.content span{
  color: #2A74B8;
  font-weight: 700;
}

.newsletter-box{
  position: fixed;
  bottom: 80px;
  right: 40px;
  height: 100px;
  width: 240px;
  border: 4px #3A539B solid;
  background-color: #3A539B;
  font-size: 12px;
  color: white;
}

.newsletter-box p{
  padding-left: 30px;
}
.newsletter-box input{
  width: 200px;
  margin-left: 15px;
}
.envelope{
    position: absolute;
    left: 3%;
    top: 12%;
    width: 5%;
    /*background-color: #3E7FBB;*/
    color: #DB4B38;
    text-align: center;
}
.ticket{
  position: absolute;
  left: 3%;
  top: 42%;
  width: 5%;
  color: #db4b38;
  text-align: center;
}
.search{
  position: absolute;
  right: 7.5%;
  bottom: 10px;
  height: 16px;
  width: 12%;
  color: black;
  /*border: 1px solid #E8E9E9;*/
  background-color: #E8E9E9;
  text-align: center;
}
